.ppetdu__container {
    flex-direction: column;
}

.ppetdu__container-content {
    flex-direction: column;
    gap: 30px;
    padding: 90px 0;
}

.ppetdu__container-content > h1 {
    color: rgb(20, 67, 155);
}

.line {
    border: 2px outset rgb(20, 67, 155);
    width: 50%;
}

.line2 {
    border: 1px solid rgba(211, 192, 255, 0.486);
    width: 100%;
}

.ppetdu__container-content > h1, 
.ppetdu__container-content > h2 {
    color: #333;
}