/* about-us--hero */

/* .hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
    gap: 35px;
}

.container__box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 700px;
}

.container__box--title {
    font-weight: 600;
}

.container__box--more {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
}

.container__box-more--image {
    width: 50px;
}

.container__box-more--text {
    font-weight: 600;
}

.container__box--description {
    color: rgb(107, 126, 126);
}

.container__image {
    max-width: 400px;
}

.container__image--img {
    width: 100%;
} */

/* - - - - - - */


/* about-us--team */

/* .about-us--team {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-areas: 
    "title title title"
    "container1 container2 container3"
    "container4 container5 container";
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 55px;
}

.team__title {
    text-align: center;
    color: #6274b6;
    grid-area: title;
}

.team__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 250px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    border-radius: 10px;
}

.team__container:nth-child(1) { 
    grid-area: container1;
}
.team__container:nth-child(2) { 
    grid-area: container2;
}

.team__container:nth-child(3) { 
    grid-area: container3;
}

.team__container:nth-child(4) { 
    grid-area: container4;
}

.team__container:nth-child(5) { 
    grid-area: container5;
}


.team__container--img {
    max-width: 150px;
}

.team__container--title {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
} */

/* - - - - - - - -*/


/* .about-us__container-whoweare */

.about-us__container-whoweare-content {
    padding: 40px 0;
    gap: 65px;
    justify-content: space-between;
    align-items: center;
}

.about-us__container-whoweare-content-image {
    display: flex;
    align-items: center;
    max-width: 410px;
    min-width: 200px;
}

.about-us__container-whoweare-content-image--img {
    width: 100%;
}

.about-us__container-whoweare-content-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 820px;
}

.about-us__container-whoweare-content-box--title {
    text-align: center;
    color: #6274b6;
}

/* - - - - - - - - */

/*  about-us--info */

.about-us__container-info-content {
    padding: 40px 0 60px 0;
    flex-direction: column;
}

.about-us__container-info-content-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0;
    max-width: 1310px;
}

.about-us__container-info-content-box--title {
    text-align: center;
    color: #6274b6;
}

/* - - - - - - - - */

/* @media (min-width: 768px) and (max-width: 1279px) {

} */

@media (max-width: 768px) {

}

@media (max-width: 480px) {
}